@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <div class="container">
       <form method="post" asp-controller="Home" asp-action="Import" enctype="multipart/form-data">
           <input type="file" name="arquivo"/>
           <button type="submit">Importar Excel</button>
       </form>
   </div>
</div>


